<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link th:replace="common :: commonheader">

<body id="page-top">



    <div class="container-fluid m-5">

        <!-- 404 Error Text -->
        <div class="text-center">
            <div class="error mx-auto" data-text="500">5XX</div>
            <p class="lead text-gray-800 mb-5" th:text="${message}">Page Not Found</p>
            <p class="text-gray-500 mb-0" th:text="${trace}"></p>
            <p class="text-gray-500 mb-0">伺服器有問題</p>
            <a href="index.html">&larr; 回到首頁</a>
        </div>

    </div>
    <!-- Scroll to Top Button-->






</body>

</html>